<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Acesso - Áreas</title>
    </head>
    <body>
        <h1>Acesso - Áreas</h1>
        <a th:href="@{/}">Início</a>
        / <a th:href="@{/acesso/{id}?token={token}(id=${avaliador.id}, token=${token})}">Acesso</a>
        / Áreas<br />

        <p>Suas áreas de conhecimento:</p>
        <ul>
            <li th:each="area: ${areas}">
                <a th:href="@{/acesso/{id}/areas/{area}?token={token}(id=${avaliador.id}, area=${area}, token=${token})}" th:text="${area}"></a>
            </li>
        </ul>
    </body>
</html>