<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Trabalho - Revisão</title>
    </head>
    <body>
        <h1>Trabalho - Revisão</h1>
        <a th:href="@{/}">Início</a>
        / <a th:href="@{/acesso/{id}?token={token}(id=${avaliador.id}, token=${token})}">Acesso</a>
        / <a th:href="@{/acesso/{id}/revisoes?token={token}(id=${avaliador.id}, token=${token})}">Revisões</a>
        / <span th:text="${trabalho.id}"></span><br />
        <ul th:object=${trabalho}>
            <li>ID: <span th:text=*{id}></span></li>
            <li>Título: <span th:text=*{titulo}></span></li>
            <li>Descrição: <span th:text=*{descricao}></span></li>
            <li>Link de acesso: <a th:href=*{link} th:text=*{link}></a></li>
            <li>Área de conhecimento: <span th:text=*{area}></span></li>
        </ul>
        <section>
            <h1>Revisão</h1>
            <form th:action="@{/acesso/{id}/revisoes/{tid}?token={token}(id=${avaliador.id}, tid=${trabalho.id}, token=${token})}" th:object=${revisao} method="POST">
                <label>Nota: <input name="nota" type="number" min="0" max="100" th:value="*{nota}" /></label><br />
                <label>Descrição: <input name="descricao" type="text" th:value="*{descricao}" /></label><br />
                <button name="later" type="submit">Revisar depois</button>
                <button name="now" type="submit">Revisar agora</button>
                <button name="skip" type="submit">Pular</button>
            </form>
        </section>
    </body>
</html>