<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Acesso</title>
    </head>
    <body>
        <h1>Acesso</h1>
        <a th:href="@{/}">Início</a> / Acesso<br />

        <section>
            <h1>Olá, <span th:text=${avaliador.nome}></span>!</h1>
            <ul>
                <li><a th:href="@{/acesso/{id}/areas?token={token}(id=${avaliador.id}, token=${token})}">Áreas</a></li>
                <li><a th:href="@{/acesso/{id}/revisoes?token={token}(id=${avaliador.id}, token=${token})}">Revisões</a></li>
            </ul>
        </section>
    </body>
</html>