<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Avaliador - Alterar</title>
    </head>
    <body>
        <h1>Avaliador - Alterar</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/avaliador}">Avaliador</a> / <a th:href="@{/avaliador/{id}(id=*{id})}" th:text="*{id}"></a> / Atualizar
        <form th:action="@{/avaliador/{id}/update-confirm(id=*{id})}" th:object=${avaliador} method="POST">
            <input name="id" type="hidden" th:value="*{id}" />
            <p>ID: <span th:text=*{id}></span></p>
            <label>Nome: <input name="nome" type="text" th:value="*{nome}" /></label><br />
            <label>E-mail: <input name="email" type="email" th:value="*{email}" /></label><br />
            <label>Codigo de acesso: <input name="codigoAcesso" type="password" th:value="*{codigoAcesso}" /></label><br />
            <label>Áreas de conhecimento: <input name="areas" type="text" th:value="${areas}" /></label><br />
            <button type="submit">Atualizar</button>
        </form>
    </body>
</html>