<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Avaliador - Cadastrar</title>
    </head>
    <body>
        <h1>Avaliador - Cadastar</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/avaliador}">Avaliador</a> / Cadastrar<br />
        <form th:action="@{/avaliador/create}" th:object=${avaliador} method="POST">
            <label>Nome: <input name="nome" type="text" th:value="*{nome}" /></label><br />
            <label>E-mail: <input name="email" type="email" th:value="*{email}" /></label><br />
            <label>Codigo de acesso: <input name="codigoAcesso" type="password" th:value="*{codigoAcesso}" /></label><br />
            <label>Áreas de conhecimento: <input name="areas" type="text" th:value="${areas}" /></label><br />
            <button type="submit">Atualizar</button>
        </form>
    </body>
</html>