<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Revisão de trabalhos</h1>

        <section>
            <h1>Administração</h1>
            <ul>
                <li><a href="avaliador">Avaliadores</a></li>
                <li><a href="trabalho">Trabalhos</a></li>
            </ul>
        </section>
        <section>
            <h1>Acesso</h1>
            <ul>
                <li><a href="acesso">Avaliadores</a></li>
            </ul>
        </section>
    </body>
</html>